@model IEnumerable<BookShop.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}
@Html.Raw(TempData["msg"])
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Image
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div>
                        <img src="@("~/img/" + item.ImgUrl)" asp-append-version="true" style="max-width :60px">
                    </div>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Isbn" style="color: black"><ion-icon name="eye-outline"></ion-icon></a> 
                    <a asp-action="Delete" class="mt-5" asp-route-id="@item.Isbn" style="color: black"><ion-icon name="trash-bin-outline"></ion-icon></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.NumberOfPages > 0)
{
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            @if (ViewBag.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="/Book/Index/@ViewBag.idpagprev" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            } else{
                <li class="page-item ">
                    <a class="page-link" href="/Book/Index/@ViewBag.idpagprev" aria-label="Previous">
                    First
                </a>
                </li>
            }
            @for (var i = 0; i < ViewBag.NumberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style " aria-current="page">
                    <a asp-action="Index" asp-route-id="@(i)" asp-route-SearchString="@ViewData["CurrentFilter"]" class="page-link">@(i +1 ) </a>
                </li>

            }

            <li class="page-item">
                <a class="page-link" href="/Students/Index/@ViewBag.idpagenext" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
